@font-face {
  font-family: "Migra";
  src: local("Migra"),
    url("../../assets/fonts/Migra/MigraItalic-ExtralightItalic.ttf")
      format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Migra";
  src: local("Migra"),
    url("../../assets/fonts/Migra/Migra-Extralight.ttf") format("truetype");
}

@font-face {
  font-family: "Migra";
  src: local("Migra"),
    url("../../assets/fonts/Migra/Migra-Extrabold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Migra";
  src: local("Migra"),
    url("../../assets/fonts/Migra/MigraItalic-ExtraboldItalic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: bold;
}

.title {
  font-size: 0.9rem;
}

.subtitle {
  font-size: 0.7rem;
}

.text {
  font-size: 0.5rem;
  font-family: "Alegreya", sans-serif;
}
