html {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  background-color: #efeeec;
  font-family: "Migra", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 4px;
  row-gap: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.hero-header-logo {
  grid-column: 1/2;
  background-color: #000;
  aspect-ratio: 1 / 1;
  color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 5px;
  align-self: center;
  animation: 10s logo-hover infinite;
  pointer-events: auto;
}

@keyframes logo-hover {
  85% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.hero-header-information {
  grid-column: 4/7;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-self: center;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
}

.hero-header-presentation {
  grid-column: 8/13;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-self: center;
}

.hero-experiences {
  grid-column: 4/5;
  font-family: "Alegreya", sans-serif;
  align-self: center;
  font-weight: bold;
}

.hero-experiences-content {
  grid-column: 1/9;
}

.hero-experiences-content-date {
  grid-column: 1/3;
  line-height: 2;
}

.hero-experiences-content-description {
  grid-column: 4/9;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-experiences-content-description-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: "Alegreya", sans-serif;
  align-items: center;
}

.hero-experiences-content-description-title-work {
  font-weight: bold;
}

.hero-experiences-content-description-location {
  font-style: italic;
}

.hero-education {
  grid-column: 10/13;
  grid-row: 2/3;
  font-family: "Alegreya", sans-serif;
  align-self: center;
  font-weight: bold;
}

.hero-education-content {
  grid-column: 10/13;
  grid-row: 3/4;
}

.hero-education-content-degree {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  line-height: 2;
}

.hero-education-content-degree-title {
  font-weight: bold;
}

.hero-education-content-degree-name {
  font-style: italic;
}

.hero-education-content-degree-location {
  font-style: italic;
}

.hero-project-title {
  grid-column: 10/13;
  font-family: "Alegreya", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-skills {
  grid-column: 10/13;
}

.gifImageContainer {
  grid-column: 10/13;
  width: 100%;
  aspect-ratio: 1/1;
}

.gifImageContainer > img {
  width: 100%;
  border-radius: 5px;
  border: solid black 1px;
  aspect-ratio: 1.5/1;
}

.contact-title {
  text-align: center;
  font-style: italic;
}

.contact-section {
  grid-column: 4/9;
}

.message-contact {
  grid-column: 4/9;
  grid-row: 5/6;
  align-self: center;
  text-align: center;
}

.message-contact > title {
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: calc(100% + 1.65rem);
}

.input-data {
  height: 2.5rem;
  width: 100%;
  position: relative;
}

input {
  height: 100%;
  width: 100%;
  border: none !important;
  border-bottom: 2px solid silver;
}

input[type="text"],
input[type="email"] {
  background: transparent;
  border: none !important;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-1.25rem);
  color: rgb(81, 79, 79);
}

label {
  position: absolute;
  bottom: 0.626rem;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 0.125rem;
  width: 100%;
  background: grey;
}

.underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(81, 79, 79);
  transition: transform 0.3s linear;
  transform: scaleX(0);
}

input:focus ~ .underline:before,
input:valid ~ .underline::before {
  transform: scaleX(1);
}

.textarea {
  background-color: #ddd;
  color: #666;
  border-radius: 0.626rem;
  border: 0.125rem solid transparent;
  outline: none;
  line-height: 1.4;
  width: 100%;
  min-height: 12rem;
  transition: all 0.2s;
}

.textarea:valid,
.textarea:focus {
  cursor: text;
  color: #333;
  background-color: white;
  border-color: rgb(81, 79, 79);
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  border-radius: 50%;
  text-align: center;
  border: rgb(81, 79, 79) solid 1px;
  width: 50px;
  height: 50px;
  padding: 0;
  transition: color 0.3s linear;
  background-color: transparent;
}

.submit-button:hover {
  animation: 1s button-form;
}

.element-footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.linkedin {
  grid-column: 2/4;
  align-self: center;
}

.github {
  grid-column: 4/6;
  align-self: center;
}

.footer > a {
  text-decoration: none;
  color: black;
}

.date-updated {
  grid-column: 12/13;
  align-self: center;
}

@keyframes button-form {
  100% {
    transform: scale(1.5);
  }
}

@media (max-width: 449px) {
  .hero-education-content-degree-name,
  .hero-education-content-degree-title {
    font-size: 0.25rem !important;
  }

  .element-footer {
    gap: 0.2rem;
  }

  .submit-button {
    width: 30px;
    height: 30px;
  }
  .hero-experiences-content-date {
    line-height: 3;
  }
}
@media (min-width: 450px) and (max-width: 599px) {
  .grid-container {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .hero-education-content-degree-name,
  .hero-education-content-degree-title {
    font-size: 0.3rem !important;
  }

  .submit-button {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .grid-container {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }

  .hero-education-content-degree-name,
  .hero-education-content-degree-title {
    font-size: 0.45rem !important;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .grid-container {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .hero-header-logo {
    width: 80%;
  }
}

@media (min-width: 1200px) and (max-width: 1339px) {
  .grid-container {
    margin-right: 7rem;
    margin-left: 7rem;
  }
  .hero-header-logo {
    width: 70%;
  }
}

@media (min-width: 1340px) and (max-width: 1519px) {
  .grid-container {
    margin-right: 8rem;
    margin-left: 8rem;
  }
}

@media (min-width: 1520px) {
  .grid-container {
    margin-right: 10rem;
    margin-left: 10rem;
  }

  .submit-button {
    height: 60px;
    width: 60px;
  }
}
